# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

.claude
CLAUDE.md
/docs/
/Yungs Better Mineshafts Source Files/
/Hopo Better Mineshaft Source Files/
